.container {
  width: 80%;
}

.page-header img {
  width: 100%;
}

.page-header h1 {
  position: absolute;
  top: 160px;
  left: 150px;
  color: #ffc424;
  font-weight: bold;
  text-shadow: 0px 0px 3px #333;
}

h3 { padding-bottom: 20px; }