---
layout: default
title: Home
---

<div class="hero-unit">
  {% include carousel.html %}
</div>
<h2>News</h2>
<div class="row">
  <div class="span8">
    <div class="feed">
      {% for post in site.posts limit: 10 %}
        <div class="feed-post well">
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <small><h6>by {{ post.author }} | {{ post.date | date_to_string }}</h6></small>
          {{ post.content }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="span4">
  <h4><strong>LBRN Events</strong></h4>
	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=j3mvmou8fkrdveo90jj5crnaeg%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FChicago" style=" border-width:0 " width="100%" height="350" frameborder="0" scrolling="no"></iframe>
  </div>
  
  <div class="span4">
    <a class="twitter-timeline" href="https://twitter.com/lbrn_inbre" height="900px" data-widget-id="365872231160619008">Tweets by @lbrn_inbre</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
  
</div>
