
<ul class="nav nav-pills srp-nav">
  {% if page.title == "General Information" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/annual-meeting/">General Information</a>
  </li>

  {% if page.title == "Event Registration and Hotel Info" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/annual-meeting/event.html">Event Registration and Hotel Info</a>
  </li>

  {% if page.title == " Covered Expenses" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/annual-meeting/expenses.html">Covered Expenses</a>
  </li>


  {% if page.title == "Poster Session" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/annual-meeting/poster.html">Poster Session</a>
  </li>

  {% if page.title == "Oral Presentation Information" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/annual-meeting/presentation.html">Oral Presentation Information</a>
  </li>
  
<!--  {% if page.title == "Media" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/annual-meeting/media">Media</a>
  </li>
  -->
  
</ul>