
<ul class="nav nav-pills srp-nav">
  {% if page.title == "Program Info" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research">Program Info</a>
  </li>

  {% if page.title == "How To Get Selected" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research/selection">How To Get Selected</a>
  </li>

  {% if page.title == "Applications" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research/applications">Applications</a>
  </li>

  {% if page.title == "Frequently Asked Questions" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research/faq">FAQ</a>
  </li>

  {% if page.title == "Mentorship" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research/mentorship">Mentorship</a>
  </li>

  {% if page.title == "Resources" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research/resources">Resources</a>
  </li>

  {% if page.title == "Calendar" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research/calendar">Calendar</a>
  </li>

  {% if page.title == "Contact" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research/contact">Contact</a>
  </li>

  {% if page.title == "Other Research Opportunities" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}summer-research/other">Other Opportunities</a>
  </li>
</ul>
