<ul class="nav nav-pills srp-nav">
  {% if page.title == "LBRN Workshops" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/workshop">Current</a>
  </li>

  {% if page.title == "Registration" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/workshop/registration">Registration</a>
  </li>

  {% if page.title == "Hotel Information" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/workshop/hotel">Hotel Information</a>
  </li>

  {% if page.title == "Covered Expenses" %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a href="{{ site.baseurl }}events/workshop/expenses">Covered Expenses</a>
  </li>
</ul>