<div class="row demo-row">
  <a class="pull-right ss-icon youtube" href="https://www.youtube.com/user/LBRNINBRE/videos">youtube</a>
  <a class="pull-right ss-icon facebook" href="https://www.facebook.com/LouisianaBiomedicalResearchNetwork">facebook</a>
  <a class="pull-right ss-icon twitter" href="https://twitter.com/lbrn_inbre">twitter</a>
  <div class="span12">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="{{ site.baseurl }}about">About</a>
                <ul>
                  <li><a href="{{ site.baseurl }}about">About LBRN</a></li>
                  <li><a href="{{ site.baseurl }}about/admin">Admin Core</a></li>
                  <li><a href="{{ site.baseurl }}about/bbc">BBC Core</a></li>
                  <li><a href="{{ site.baseurl }}about/mcb">MCBR Core</a></li>
                  <li><a href="{{ site.baseurl }}about/project-investigators">Project Investigators</a></li>
                  <li><a href="{{ site.baseurl }}about/partners">Partner Institutes</a></li>
                  <li><a href="{{ site.baseurl }}about/committees">Committees</a></li>
                </ul> <!-- /Sub menu -->
              </li>
              <li>
                <a href="{{ site.baseurl }}summer-research">Summer Research</a>
                <ul>
                  <li><a href="{{ site.baseurl }}summer-research">Program Info</a></li>
                  <li><a href="{{ site.baseurl }}summer-research/selection">How To Get Selected</a></li>
                  <li><a href="{{ site.baseurl }}summer-research/applications">Applications</a></li>
                  <li><a href="{{ site.baseurl }}summer-research/faq">FAQ</a></li>
                  <li><a href="{{ site.baseurl }}summer-research/mentorship">Mentorship</a></li>
                  <li><a href="{{ site.baseurl }}summer-research/resources">Resources</a></li>
                  <li><a href="{{ site.baseurl }}summer-research/calendar">Calendar</a></li>
                  <li><a href="{{ site.baseurl }}summer-research/contact">Contact</a></li>
                  <li><a href="{{ site.baseurl }}summer-research/other">Other Opportunities</a></li>
                </ul> <!-- /Sub menu -->
              </li>
              <li>
                <a href="{{ site.baseurl }}resources">Services &amp; Resources</a>
                <ul>
                  <li><a href="{{ site.baseurl }}resources/cores">Cores</a></li>
                  <li><a href="{{ site.baseurl }}resources/nih-acknowledgement">NIH Acknowledgement</a></li>
                  <li><a href="{{ site.baseurl }}resources/nih-links">NIH Links</a></li>
                  <li><a href="{{ site.baseurl }}resources/templates">Presentation Templates</a></li>
                  <li><a href="{{ site.baseurl }}resources/poster-boards">Poster Boards</a></li>
									<li><a href="{{ site.baseurl }}resources/redcap">REDCap</a></li>
                  <li><a href="https://www.youtube.com/user/LBRNINBRE/videos">Video Repository</a></li>
                </ul> <!-- /Sub menu -->
              </li>
              <li>
                <a href="{{ site.baseurl }}events">Events</a>
                <ul>
                  <li><a href="{{ site.baseurl }}events/annual-meeting">Annual Meeting</a></li>
                  <li><a href="{{ site.baseurl }}events/bioinformatics-conference">Bioinformatics Conference</a></li>
                  <li><a href="{{ site.baseurl }}events/computational-workshop">Computational Workshop</a></li>
                  <li><a href="{{ site.baseurl }}events/comp-bio">LSU Computational Biology Seminars</a></li>
                  <li><a href="{{ site.baseurl }}events/surf">SURF</a></li>
                  <li><a href="{{ site.baseurl }}events/work-in-progress">Work-In-Progress Seminars</a></li>
                </ul> <!-- /Sub menu -->
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>
</div> <!-- /row -->
