---
layout: about-page
title: Project Investigators
---

<h4>New Website Under Construction some information in some areas will be out of date until then. (updated note: Nov 7, 2017).</h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#current" data-toggle="tab">Currently Funded Projects</a></li>
  <li><a href="#all" data-toggle="tab">Previously Funded Projects</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active fade in" id="current">

  {% for pi in site.data.pis | sort %}
    {% if pi.active == true %}
      <div class="row bio well">
        <div class="span2">
           <a href="{{ site.baseurl }}about/pi/{{ pi.image | split: "." | first }}"><img src="{{ site.baseurl }}files/images/pi-photos/{{ pi.image }}" class="img-polaroid"></a>
        </div>
        <h4>{{pi.name}}</h4>
        <p>
          <a href="{{ site.baseurl }}about/pi/{{ pi.image | split: "." | first }}">
            {{ pi.project_title }}
          </a>
        </p>
        <p>{{pi.origin}}</p>
      </div>
    {% endif %}
  {% endfor %}

</div>

<div class="tab-pane fade in" id="all">

  {% for pi in site.data.pis | sort %}
    {% if pi.active == false %}
      <div class="row bio well">
        <div class="span2">
           <a href="{{ site.baseurl }}about/pi/{{ pi.image | split: "." | first }}"><img src="{{ site.baseurl }}files/images/pi-photos/{{ pi.image }}" class="img-polaroid"></a>
        </div>
        <h4>{{pi.name}}</h4>
        <p>
          <a href="{{ site.baseurl }}about/pi/{{ pi.image | split: "." | first }}">
            {{ pi.project_title }}
          </a>
        </p>
        <p>{{pi.origin}}</p>
      </div>
    {% endif %}
  {% endfor %}

</div>
</div>
