* {
  text-rendering: optimizeLegibility;
  font-size: 101%;
}

body {
  width: 70%;
  margin: 5px auto;
  background: #fdfdfd;
}

a {
  text-decoration: none !important;
}

.demo-row {
  position: relative;
  top: -20px;
}

.main {
  min-height: 700px;
}

.site-header a {
  color: #34495e;
  text-decoration: none;
}

.site-header h1 {
  margin-bottom: 0;
}

.site-header .ss-icon {
  font-size: 1.5em;
  padding-left: 10px;
}

.ss-icon.facebook {
  color: #4c66a4;
}

.ss-icon.twitter {
  color: #00a0d1;
}

.ss-icon.youtube {
  color: #C7231A;
}

.feed {
  list-style: none;
  padding: 0;
  margin: 0;
}

  .feed h4, .feed h6 {
    padding: 0;
    margin: 0;
  }

  .feed h6 {
    padding-bottom: 15px;
  }

  .feed-post {
    overflow: hidden;
  }

  .feed-post img  {
    display: block;
    float: right;
    padding-left: 5px;
    width: 30%;
    height: 30% !important;
  }

.post-header {
  margin-bottom: 50px;
}

.post img {
  float: right;
  padding: 0 0 5px 5px;
  width: 40%;
}

.page-title {
  margin-bottom: 20px;
}

.srp-nav {
  margin-bottom: 0 !important;
}

.srp-nav a {
  color: #34495e;
}

.nav-pills > .active > a {
  background: #34495e !important;
}

.bio img {
  width: 60% !important;
  height: 60% !important;
}

footer {
  margin-top: 50px;
}

.pi h4 {
  font-style: italic;
  font-weight: bold;
}

.long-text {
  width: 70%;
  padding-left: 50px;
}

.project-title { font-size: 1.2em; }

.pubmed-link {
  float: right;
  position: relative;
  top: 10px;
}

.carousel-caption h3 {
  color: #FFF;
}

.hero-unit {
  padding: 40px !important;
  margin
}

.carousel-inner img {
  width: 100%;
  height: 433px !important;
}

[data-toggle=collapse] {
  height: inherit !important;
}