/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body, h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans'; text-rendering: optimizeLegibility; }

header { padding-bottom: 50px; }

header .subheader { text-align: left; }



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


