<!doctype html>
<html>
  <head>
    <title>LBRN</title>
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">
    <link href="{{ site.baseurl }}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.baseurl }}assets/css/flat-ui.css" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body class="container">
    <header class="row site-header">
      <div class="span12">
        <h1><a href="{{ site.baseurl }}">Louisiana Biomedical Research Network</a></h1>
        {% include menu.html %}
      </div>
    </header>
    <div class="row main">
      <div class="span12">
        {{ content }}
      </div>
    </div>
    <footer class="row">
      <div class="span12">
        <p>Copyright © LBRN {{ 'now' | date: "%Y" }}</p>
      </div>
    </footer>
    {% include scripts.html %}
  </body>
</html>